<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<head>
    <meta charset="UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        select {
            width: 100px;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>


 Person edition
<form id="edit-form" action="bookInsert.html" th:method="post" th:action="@{/bookInsert}" th:object="${authors}">
    <h3 th:text="#{book-info}">Book Info:</h3>
    <div class="row">
        <label for="book-title-input" th:text="#{title}">title:</label>
        <input id="book-title-input" name="title" type="text"/>
    </div>

    <div>
        <select multiple size="3" name="authors" th:name="authors" id="authors" th:id="authors">
            <option th:each="author : ${authors}" th:text="${author.id}"/>
        </select>
    </div>
    <div>
        <label for="genres">Hold down the Ctrl (windows) or Command (Mac) button to choose genres:</label>
    </div>
    <div>
        <select multiple size="3" name="genres" th:name="genres" id="genres" th:id="genres">
            <option th:each="genre : ${genres}" th:text="${genre.id}"/>
        </select>
    </div>
    <div class="row">
        <button type="submit" th:text="Save">Save</button>
        <a href="bookList.html" th:href="@{/bookList}"><button type="button" th:text="Cansel">Cancel</button></a>
    </div>
</form>
</body>
</html>
