<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<h3 th:text="#{lang-switcher-header}">Select language</h3>
<div>
    <div><a href="#" th:href="@{/(lang=en)}" th:text="#{en-lang-switch-button-caption}">Language - EN</a></div>
    <div><a href="#" th:href="@{/(lang=ru)}" th:text="#{ru-lang-switch-button-caption}">Language - RU</a></div>
</div>
<h3 th:text="#{library-header}">Entity:</h3>
<a href="bookList.html" th:href="@{/bookList}" th:text="#{books}">Books</a>
<a href="authorList.html" th:href="@{/authorList}" th:text="#{authors}">Authors</a>
<a href="genreList.html" th:href="@{/genreList}" th:text="#{genres}">Genres</a>
</body>
</html>
